*{
    font-family: 'Roboto';
    margin: 0;
    text-align: center;
    background-color: white;
}

#title{
    
    color: black;
    text-align: center;
    font-size: 42px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#banner {
    display: block;
}
  
 .images {
    display: inline-block;
    width: 2.5;
    max-width: 2.5%;
    margin-left:0.7%;
    margin-right: 0.7%;
    margin-bottom: 2.5%;
}